/* General Settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgb(246, 248, 249);
}

hr {
    border: 1px solid rgb(246, 248, 249);
}

/* Utilities */

li {
    list-style: none;
}

/* Header */

header {
    
    background-color: rgb(255, 255, 255);
    
}

img {
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    font-size: 42px;
}

/* Main */

.container {
    width: 70%;
    margin: 50px auto;
    background-color: rgb(255, 255, 255);
}

.active,
.fade {
    padding: 6px 12px;
    margin: 15px auto 15px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.active {
    margin-left: 60px;
    color: rgb(255, 255, 255);
    background-color: rgb(71, 173, 241);
    border: 2px solid rgb(71, 173, 241);
}

.fade {
    color: rgb(212, 212, 212);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(212, 212, 212);
}

/* To-Do-List */

.todolist {
    margin: 40px 55px;
    padding-bottom: 30px;
}

h2 {
    display: inline;
    position: relative;
}

.caret {
    font-size: 30px;
    vertical-align: middle;
}

/* Tasks */

.tasks {
    margin-bottom: 20px;
    margin-left: 5px;
    font-size: 20px;
}

.check, 
.cross {
    display: inline-block;
    font-size: 8px;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    font-weight: 800;
}

.check {
    border: 2px solid rgb(130, 207, 190);
    color: rgb(130, 207, 190);
}

.cross {
    border: 2px solid rgb(234, 66,55);
    color: rgb(234, 66,55);
}

/* Tags */

.tag {
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 25px;
    color: rgb(255, 255, 255);
}

.editorial {
    border: 1px solid rgb(71, 173, 241);
    background-color: rgb(71, 173, 241);
}

.q1goals {
    border: 1px solid rgb(156,114,228);
    background-color: rgb(156,114,228);
}

.recruiting {
    border: 1px solid rgb(100, 192, 169);
    background-color: rgb(100, 192, 169);
}

.mobile {
    border: 1px solid rgb(242, 158, 51);
    background-color: rgb(242, 158, 51);
}

.website {
    border: 1px solid rgb(216, 99, 161);
    background-color: rgb(216, 99, 161);
}

.sales {
    border: 1px solid rgb(176, 201, 38);
    background-color: rgb(176, 201, 38);
}











