/* General Settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgb(231, 231, 231);
}

hr {
    border-color: white ;
}

/* Header */

header {
    position: relative; 
    background-color: white;
    height: 8vh;
}

img {
   position: absolute;
   top: 10px;
   left: 20px;
}

h1 {
    position: absolute;
    top: 10px;
    left: 75px;
    font-weight: 700;
    font-size: 42px;
}

/* Main */

.container {
    width: 70%;
    margin: auto;
    background-color: white;
    margin-top: 50px;
}

.active,
.fade {
    padding: 6px 12px;
    margin: 15px auto 15px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.active {
    margin-left: 60px;
    color: white;
    background-color: rgb(71, 173, 241);
    border: 2px solid rgb(71, 173, 241);
}

.fade {
    color: rgb(212, 212, 212);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(212, 212, 212);
}

/* To-Do-List */

.todolist {
    margin: 20px 50px;
}

h2 {
    display: inline;
    position: relative;
}

.caret {
    font-size: 30px;
    vertical-align: middle;
}

/* Tasks */

.tasks {
    margin-bottom: 15px;
    margin-left: 5px;
    font-size: 20px;
}

.taskgroup {
    margin-bottom: 50px;
}


.check, 
.cross {
    font-size: 8px;
    padding: 4px;
    border-radius: 50%;
    margin-right: 10px;
}

.check {
    border: 1px solid green;
    color: green;
}

.cross {
    border: 1px solid red;
    color: red;
}



/* Tags */

.tag {
    margin-left: 10px;

}

.editorial {
    border: 1px solid rgb(71, 173, 241);
}

.q1goals {
    border: 1px solid ;
}

.recruiting {
    border: 1px solid ;
}

.mobile {
    border: 1px solid ;
}

.website {
    border: 1px solid ;
}

.sales {
    border: 1px solid ;
}











